.indicator {
    text-align: center;
    margin: 5px;
    outline: none;
    border-radius: 25px;
    color: darkgray;
    background-color: transparent;
    /*border: none;*/
    border: 1px solid darkgray;
}

.indicator:active {
    color: black;
    background-color: #d1c1ce;
    /*border: 1px solid darkgray;*/
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.selected{
    color: black;
    background-color: white;
    border: 1px solid darkgray;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}