/* Image view trigger */
.image_click_navigation_container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.left{
    /*background-color: rgba(0, 0, 255, 0.247);*/
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
}

.right{
    /*background-color: rgba(255, 0, 0, 0.274);*/
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
}
/* Image view trigger */