.button_body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    vertical-align: middle;
    display: inline-block;
    pointer-events: none;
}

.button_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    pointer-events: none;
}

.button_container_inner{
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}